
<div class="signup-form">
    <form>
        <input type="email" placeholder="adresse email">
        <input type="password" placeholder="mot de passe">
        <input type="text" placeholder="pseudo">
        <input type="text" placeholder="nom">
        <input type="text" placeholder="prénom">
        <input type="number" placeholder="age">
        <input type="date" placeholder="date_naissance">
        <input type="text" placeholder="adresse">
        <input type="number" placeholder="code_postal">
        <input type="text" placeholder="ville">
        <input type="password" placeholder="votre mot de passe">
        <input type="button" value="S'inscrire">
    </form>
</div>