.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.text-information{
    padding: 1.250rem;
}

.text-information p{
    text-align: justify;
}

h1 {
    color: var(--mat-primary-variant);
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}