<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Poker challenge</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="signin-icon" type="button" (click)="connexion(isLoggedIn)">
        <mat-icon>{{ isLoggedIn ? 'logout' : 'login' }}</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="exemple-container" color="primary">
    <mat-sidenav #sidenav opened mode="side">
        <div class="logo">
            <a class="navbar-brand" routerLink="">
                <img width="100" src="../../assets/images/logo/logo_violet_sans_bg.PNG" alt="logo winamax">
            </a>
        </div>
        <div>
            <!-- <button mat-button color="primary"  class="item-sidenav " routerLink="user" routerLinkActive="active">
                <mat-icon>person</mat-icon>
                Mon Compte</button>
            <mat-divider></mat-divider> -->
            <button mat-button color="primary"  class="item-sidenav first-item-sidenav" routerLink="home" routerLinkActive="active">
                <mat-icon>home</mat-icon>
                Accueil</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary" class="item-sidenav" routerLink="challengeListe">
                <span class="material-symbols-outlined">trophy</span>
                Challenges</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary"  class="item-sidenav" routerLink="information">
                <mat-icon>info</mat-icon>
                Information</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary" class="item-sidenav" routerLink="pokerRoom">
                <span class="material-symbols-outlined">playing_cards</span>
                Poker room</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary" class="item-sidenav" routerLink="dashboard">
                <span class="material-symbols-outlined">dashboard</span>
                Dashboard</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary" class="item-sidenav last-item-sidenav" routerLink="setting">
                <mat-icon>settings</mat-icon>
            Settings</button>
            <mat-divider></mat-divider>
            <div class="time">
                <mat-divider></mat-divider>
                <p>{{this.getDateForShow()}}</p>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>