
<div class="signIn-form">
    <mat-card class="example-card">
        <form #signinForm="ngForm" (ngSubmit)="signin(signinForm)">
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="email" id="email" ngModel placeholder="Ex. pat@example.com" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" name="password"  id="password" ngModel required>
                    <mat-icon matSuffix>visibility</mat-icon>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!signinForm.form.valid">Se connecter</button>
                <!-- <mat-icon matSuffix>login</mat-icon> -->
            </mat-card-actions>
        </form>
    </mat-card>
</div>

{{signinForm.form.valid}}

