
<div class="signIn-form">
    <mat-card class="example-card">
        <form #signinForm="ngForm" (ngSubmit)="signin(signinForm); signinForm.reset()">
            <mat-card-content>
                    <mat-form-field >
                        <mat-label>Email</mat-label>
                        <input 
                            matInput 
                            type="email" 
                            [(ngModel)]="signInUser.email" 
                            #email="ngModel" 
                            name="email" 
                            id="email"  
                            placeholder="Ex: johnDoe@example.com" 
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            required>
                        <mat-error [hidden]="email.valid || email.pristine">
                        Email invalide</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input 
                        matInput 
                        type="{{showPassWord ? 'text': 'password'}}" 
                        [(ngModel)]="signInUser.password"  
                        #password="ngModel" 
                        name="password" 
                        id="password" 
                        required>
                        <mat-icon matSuffix (click)="handlerPassword()">{{ !showPassWord ? 'visibility' : 'visibility_off' }}</mat-icon>
                    <mat-error [hidden]="password.valid || password.pristine">
                    password obligatoire</mat-error>
                </mat-form-field>
                <div class="password-forgot">
                    <p (click)="goToPasswordForgot()">Mot de passe oublié ? </p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary" [disabled]="!signinForm.form.valid"><mat-icon>login</mat-icon>Se connecter</button>
                <!-- <mat-icon matSuffix>login</mat-icon> -->
            </mat-card-actions>
        </form>
    </mat-card>
</div>

