
:root{
    --mat-pink:#ffd9e1;
    --mat-second: #018786;
    --mat-primary: #3700b3;
    --mat-second-variant: #018786;
    --mat-primary-variant: #3700b3;
    --mat-purpule: #bb86fc;
    --mat-teal: #70efde;
    --mat-error: #b00020;
    --mat-accent: #ffd740;
}