
<div class="accuiel-content">
    <div class="container">
        <section class="introduction">
            <h1>Bienvenue sur notre Plateforme de Challenge pour Joueurs de Poker</h1>
            <p>Rejoignez notre communauté de passionnés de poker et plongez dans l'univers des compétitions exaltantes ! Sur notre plateforme, les administrateurs peuvent créer des challenges uniques, offrant aux joueurs l'opportunité de démontrer leurs compétences et de se mesurer à des adversaires de tous niveaux.</p>
            <button  mat-raised-button color="accent" routerLink="admin">Inscrivez-vous</button>
        </section>

        <section class="features">
            <h2>Fonctionnalités Clés</h2>
            <div class="feature-item">
                <h3>Suivi en Temps Réel</h3>
                <p>Découvrez où vous vous situez dans les classements, et voyez votre position évoluer au fur et à mesure que vous relevez de nouveaux défis.</p>
            </div>
            <div class="feature-item">
                <h3>Récompenses et Badges</h3>
                <p>Gagnez des récompenses et des badges exclusifs en participant et en remportant des challenges.</p>
            </div>
            <div class="feature-item">
                <h3>Communauté Active</h3>
                <p>Participez aux discussions sur nos forums, partagez des stratégies et apprenez des meilleurs joueurs.</p>
            </div>
            <div class="feature-item">
                <h3>Sécurité des Données</h3>
                <p>Nous utilisons des protocoles de sécurité avancés pour protéger vos informations personnelles et garantir une expérience de jeu sans souci.</p>
            </div>
        </section>

        <!-- <section class="testimonials">
            <h2 attr.color="warn">Témoignages</h2>
            <div class="testimonial-item">
                <p>"Cette plateforme a complètement changé ma façon de jouer au poker. Les challenges sont stimulants et les récompenses sont incroyables." - Marc D.</p>
            </div>
            <div class="testimonial-item">
                <p>"J'adore la communauté ici. J'ai appris tellement de nouvelles stratégies et je me suis fait de nouveaux amis." - Sophie L.</p>
            </div>
        </section> -->

        <section class="call-to-action">
            <h2>Prêt à relever le défi ?</h2>
            <p>Inscrivez-vous dès maintenant et commencez votre aventure poker !</p>
            <button  mat-raised-button color="accent" routerLink="admin">Inscrivez-vous</button>
        </section>
    </div>
</div>
