<div class="information-primaire">
    <h1>{{challenge[0].name_challenge}}</h1>
    <h2>{{challenge[0].titre}}</h2>
    <h2>{{challenge[0].sous_titre}}</h2>
</div>
<div class="information-secondaire">
    <div class="information-image">
        <img src="{{challenge[0].image}}" width="30%">
    </div>
    <h2>{{challenge[0].date_creation | date:'dd/MM/YYYY'}}</h2>
</div>
<div class="information-description">
    <p>{{challenge[0].description}}</p>
</div>

@if (challenge!=[]) {
{{challenge|json}}
}
@else{
<p>Challenge inexistant !</p>
}