<div class="poker_room_list">
    <table mat-table [dataSource]="rooms" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- logo Column -->
        <ng-container matColumnDef="logo" >
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element" (click)="incrementClick(element.id)"> 
                <a href="{{element.affiliation ? element.affiliation : element.url}}" target="_blank">
                    <img  src="../../assets/images/plateforms/{{element.logo}}" width="100"> 
                </a>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element" (click)="incrementClick(element.id)">
                <a href="{{element.affiliation ? element.affiliation : element.url}}" target="_blank"> 
                    {{element.name}}
                </a>
             </td>
        </ng-container>

        <!-- Format Column -->
        <ng-container matColumnDef="format">
            <th mat-header-cell *matHeaderCellDef> Format </th>
            <td mat-cell *matCellDef="let element"> {{element.format}} </td>
        </ng-container>

        <!-- Information Column -->
        <ng-container matColumnDef="information">
            <th mat-header-cell *matHeaderCellDef> Information </th>
            <td mat-cell *matCellDef="let element"> {{element.information}} </td>
        </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>