<div class="container">
    <h1>Politique de Confidentialité</h1>
    <p>Dernière mise à jour : 18/06/2024</p>
    <p>Bienvenue sur notre plateforme de challenge pour les joueurs de poker. Nous accordons une grande importance à la
        protection de votre vie privée et de vos données personnelles. Cette politique de confidentialité explique
        quelles informations nous collectons, comment nous les utilisons et quelles sont vos options à cet égard,
        conformément au Règlement Général sur la Protection des Données (RGPD).</p>

    <h2>1. Informations que nous collectons</h2>
    <p>Nous collectons différentes catégories de données personnelles vous concernant, notamment :</p>
    <ul>
        <li><strong>Informations d'inscription :</strong> lorsque vous créez un compte, nous collectons votre nom,
            adresse email, et autres informations nécessaires à l'inscription.</li>
        <li><strong>Informations de profil :</strong> vous pouvez fournir des informations supplémentaires telles que
            votre pseudo, photo de profil, etc.</li>
        <li><strong>Informations de paiement :</strong> si vous effectuez des paiements, nous collectons les
            informations de transaction, mais pas les informations complètes de la carte bancaire.</li>
        <li><strong>Informations techniques :</strong> nous collectons des informations sur votre appareil, adresse IP,
            type de navigateur et système d'exploitation.</li>
        <li><strong>Informations d'utilisation :</strong> nous collectons des données sur votre activité sur notre
            plateforme, telles que les challenges auxquels vous participez.</li>
    </ul>

    <h2>2. Utilisation de vos informations</h2>
    <p>Nous utilisons les informations collectées pour :</p>
    <ul>
        <li>Fournir et améliorer nos services.</li>
        <li>Personnaliser votre expérience sur notre plateforme.</li>
        <li>Gérer votre compte et fournir un support client.</li>
        <li>Communiquer avec vous au sujet des mises à jour, offres spéciales et autres informations liées à nos
            services.</li>
        <li>Assurer la sécurité de notre plateforme et prévenir les fraudes.</li>
    </ul>

    <h2>3. Partage de vos informations</h2>
    <p>Nous ne vendons ni ne louons vos informations personnelles à des tiers. Nous pouvons partager vos informations
        avec :</p>
    <ul>
        <li>Des prestataires de services tiers qui nous aident à fournir nos services.</li>
        <li>Des autorités légales si nécessaire pour se conformer à la loi ou protéger nos droits.</li>
        <li>Dans le cadre d'une transaction commerciale telle qu'une fusion, acquisition ou vente d'actifs.</li>
    </ul>

    <h2>4. Sécurité de vos informations</h2>
    <p>Nous mettons en œuvre des mesures de sécurité techniques et organisationnelles pour protéger vos informations
        personnelles contre la perte, le vol, l'accès non autorisé et la divulgation.</p>

    <h2>5. Vos droits</h2>
    <p>En vertu du RGPD, vous avez le droit de :</p>
    <ul>
        <li>Accéder à vos données personnelles et en demander une copie.</li>
        <li>Rectifier les données inexactes ou incomplètes.</li>
        <li>Demander la suppression de vos données personnelles.</li>
        <li>Limiter le traitement de vos données dans certaines circonstances.</li>
        <li>Vous opposer au traitement de vos données pour des motifs légitimes.</li>
        <li>Demander la portabilité de vos données personnelles.</li>
    </ul>

    <h2>6. Cookies et technologies similaires</h2>
    <p>Nous utilisons des cookies et des technologies similaires pour améliorer votre expérience sur notre plateforme.
        Vous pouvez gérer vos préférences en matière de cookies via les paramètres de votre navigateur.</p>

    <h2>7. Modifications de cette politique</h2>
    <p>Nous pouvons mettre à jour cette politique de confidentialité de temps à autre. Nous vous informerons de tout
        changement en publiant la nouvelle version sur notre site et en modifiant la date de "Dernière mise à jour" en
        haut de cette page.</p>

    <h2>8. Nous contacter</h2>
    <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité ou nos pratiques
        de traitement des données, veuillez nous contacter à :</p>
    <p>Email : pg.devweb&#64;gmail.com
    <p>
    <address>Adresse : 31 rue beaulieu</address>
    <address>42300 Roanne</address>
</div>